*{
	padding: 0;
	margin: 0;
}
header{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	line-height: 40px;
	background: #ea4f4d;
	text-align: center;
}
header a{
	padding: 0 10px;
	color: #fff;
}
footer{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: 40px;
	background: #ea4f4d;
	color: #fff;
	text-align: center;
}
.content-box{
	padding: 40px 15px;
}